################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/actionfilter/bin/
/actionfilter/obj/
/Filters/bin/
/Filters/obj/
